<div class="container">
  <div class="header">
    <h3 class="subtitle">Información de Planes</h3>
  </div>
  <section class="plans" id="plans">
    <div class="cards">
      <div class="card">
        <h3>Plan Básico</h3>
        <p class="card_price"><span>$10</span>/mes</p>
        <div class="check_container">
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Incluye la plataforma de monitoreo digital.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Acceso al dashboard y control de tu geo-cerca.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Historial de movimientos limitado a 7 días.</p>
          </div>
        </div>
        <div class="device__price">
          <p>Costo de Dispositivo</p>
          <p>$150</p>
          <p>Pago Único</p>
        </div>
        <button mat-button class="secondary-button">Obtener Plan</button>
      </div>
      <div class="card">
        <h3>Plan Estándar</h3>
        <p class="card_price"><span>$20</span>/mes</p>
        <div class="check_container">
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Incluye todo lo del Plan Básico.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Control de hasta 2 geo-cercas.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Historial de movimientos de hasta 30 días.</p>
          </div>
        </div>
        <div class="device__price">
          <p>Costo de Dispositivo</p>
          <p>$150</p>
          <p>Pago Único</p>
        </div>
        <button mat-button class="secondary-button">Obtener Plan</button>
      </div>
      <div class="card">
        <h3>Plan Premium</h3>
        <p class="card_price"><span>$35</span>/mes</p>
        <div class="check_container">
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Incluye todo lo del Plan Estándar.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Control de hasta 4 geo-cercas.</p>
          </div>
          <div class="check">
            <img src="images/check-solid.svg" alt="Check">
            <p>Historial de movimientos de hasta 3 meses.</p>
          </div>
        </div>
        <div class="device__price">
          <p>Costo de Dispositivo</p>
          <p>$150</p>
          <p>Pago Único</p>
        </div>
        <button mat-button class="secondary-button">Obtener Plan</button>
      </div>
    </div>
  </section>
  <div class="plan-button">
    <button mat-button class="primary-button" routerLink="../payment-method">Continuar</button>
  </div>
</div>
