<div class="container">
  <div class="oxygen-container">
    <div class="chart-container">
      <h3>Oxygenation Evolution over the Days of the Month</h3>
      <canvas id="chart2" class="chart2"></canvas>
    </div>

    <div class="tip-container">
      <h3>Tips According to Oxygenation Level:</h3>
      <ul>
        <li>
          <p>
            <strong>95-100%:</strong> Normal oxygen level. No concerns. Continue
            with your usual activities and stay hydrated.
          </p>
        </li>
        <li>
          <p>
            <strong>91-94%:</strong> Slight decrease in oxygen levels. It may be
            helpful to rest and get fresh air. If levels remain low, it is
            advisable to consult a healthcare professional.
          </p>
        </li>
        <li>
          <p>
            <strong>Below 90%:</strong> Hypoxemia. Low oxygen level that may
            indicate a significant health issue. Immediate consultation with a
            doctor or a visit to a healthcare facility is necessary.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
