
.container {
  color: var(--primary-color);
}

.heart-rate-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  gap: 2rem;
}

.chart-container {
  flex: 1;
  min-width: 400px;
}

.tip-container {
  flex: 1;
  min-width: 300px;
}

h3 {
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #333;
}

strong {
  color: var(--primary-color);
}

.activity-container{
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .heart-rate-container {
      flex-direction: column;
  }

  .chart-container, .tip-container {
      width: 100%;
  }
}
