<div class="container">
  <div class="heart-rate-container">
    <div class="chart-container">
      <h3>Evolución de la Frecuencia Cardíaca durante los días del mes</h3>
      <canvas id="chart" class="chart"></canvas>
    </div>

    <div class="tip-container">
      <h3>Consejos según la Frecuencia Cardíaca:</h3>
      <ul>
        <li>
          <p><strong>70-80 bpm:</strong> Indica un ritmo cardíaco normal. Continúa con tus actividades habituales y
            mantén una dieta equilibrada.</p>
        </li>
        <li>
          <p><strong>81-90 bpm:</strong> Un ligero aumento en la frecuencia cardíaca. Podría ser beneficioso realizar
            ejercicios de relajación o meditación.</p>
        </li>
        <li>
          <p><strong>91-100 bpm:</strong> Frecuencia cardíaca elevada. Considera consultar a un profesional de la salud
            para una evaluación más detallada.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="activity-container">
    <h3> Registro de Funciones Vitales </h3>
    <app-table-activities></app-table-activities>
  </div>
</div>
