<div class="container">
  <div class="heart-rate-container">
    <div class="chart-container">
      <h3>Heart Rate Evolution Over the Days of the Month</h3>
      <canvas id="chart" class="chart"></canvas>
    </div>

    <div class="tip-container">
      <h3>Heart Rate Tips:</h3>
      <ul>
        <li>
          <p>
            <strong>70-80 bpm:</strong> Indicates a normal heart rate. Continue
            with your usual activities and maintain a balanced diet.
          </p>
        </li>
        <li>
          <p>
            <strong>81-90 bpm:</strong> A slight increase in heart rate.
            Relaxation exercises or meditation may be beneficial.
          </p>
        </li>
        <li>
          <p>
            <strong>91-100 bpm:</strong> Elevated heart rate. Consider
            consulting a healthcare professional for a more detailed evaluation.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
