<div class="container">
  <div class="container-sign-in">
    <div class="header">
      <span>Access to </span>
      <h1>Guardian Area</h1>
    </div>
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-field">
          <label>Username</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="username" placeholder="Ingresa tu correo" class="form-control">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error app-field-error-messages controlName="username">El correo <strong>requerido</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label>Contraseña</label>
          <mat-form-field appearance="outline">
            <input type="password" matInput formControlName="password" placeholder="Ingresa tu contraseña"
              class="form-control">
            <mat-icon matSuffix>password</mat-icon>
            <mat-error app-field-error-messages controlName="password">La contraseña es
              <strong>requerida</strong></mat-error>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="form.invalid" mat-button class="primary-button">Iniciar Sesión</button>
      </form>
    </div>
    <label class="forget-password">Olvidaste tu contraseña</label>
    <a routerLink="/auth/sign-up" class="create-account">¿No tienes una cuenta? <span>Regístrate Aquí</span></a>
  </div>
  <div class="container-logo">
    <img src="images/sign-in.svg" alt="Sign In" />
  </div>
</div>
