<div class="container">
  <h3>Real Time Monitoring Map</h3>
  <div class="mini-map-container">
    <app-mini-map />
  </div>
  <div class="health-container">
    <div class="health-card bpm-card">
      <img src="images/heart-sensor.svg" alt="Heart Icon" class="card-image" />
      <div class="card-content">
        <div class="card-header">Heart Rate</div>
        <div class="card-value">
          <span class="value">{{ bpm }}</span>
          <span class="unit">bpm</span>
        </div>
      </div>
    </div>

    <div class="health-card spo2-card">
      <img src="images/spo2-sensor.svg" alt="Oxygen Icon" class="card-image" />
      <div class="card-content">
        <div class="card-header">Oxygenation</div>
        <div class="card-value">
          <span class="value">{{ spo2 }}</span>
          <span class="unit">%</span>
        </div>
      </div>
    </div>
  </div>

  <h3 class="header-activity">Latest Activities</h3>
  <app-table-activities />
</div>
