.container {
  color: var(--primary-color);
}

.mini-map-container {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

table {
  background-color: #fff;
  th, td {
    color: var(--primary-color);
    border-color: var(--table-primary);
  }
}
